.border {
    /* border-collapse: collapse;
    border: 1px solid black; */

}

.admin-dashboard-container {

    justify-content: center;
    align-items: center;

}



.horizontal_navbar {
    width: 100%;
    height: 79px;
    background: #11101D;
    border-left: 1px solid wheat;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.Heading_Heder {
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.content {
    margin: 0;
}